.movie-button {
  width: 33px;
  height: 33px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  transition: background 0.3s linear;
  background-image: url(../../images/save-m.svg);

  &_like {
    background-image: url(../../images/saved-m.svg);
  }

  &:hover {
    opacity: 0.8;;
  }

}
