.auth-navigation {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 183px;
  margin-block: 0;

  &__link {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 0.8;
    }

    &_registration {
      color: #000;
      &_main-page {
        color: #fff;
      }
    }

    &_signin {
      color: #000;
      background-color: #2BE080;
      padding: 8px 20px;
      border-radius: 3px;
    }
  }
}
