.search-form {
  width: 100%;
  padding: 160px 70px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    width: 100%;
    margin: 60px 0 10px;
    padding-bottom: 70px;
    border-bottom: 1px solid #e8e8e8;
  }

  &__input-container {
    display: flex;
    flex-direction: row;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
  }

  &__search-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 19px 30px 19px 19px;
    box-sizing: border-box;
    background: #f9f9f9;
    height: 72px;
  }

  &__input {
    width: 100%;
    max-width: 600px;
    background: #f9f9f9;
    border-radius: 9px;
    border: none;
    outline: none;

    &::placeholder {
      font-size: 13px;
      line-height: 17px;
      color:#a0a0a0
    }
  }

  &__submit {
    width: 80px;
    height: 34px;
    border-radius: 34px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    background: #FF6838;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: opacity .3s linear;
    margin-right: 30px;


    &:hover {
      opacity: .8;
    }

    &:focus-visible {
      outline: 2px solid #2BE080;
      outline-offset: 1px;
    }
  }

  &__submit-icon {
    filter: brightness(2);
    width: 34px;
    height: 34px;
  }

  &__radio {
    width: 36px;
    height: 20px;
    cursor: pointer;
    border: none;
    transition: opacity .3s linear;
    border-radius: 16px;
    padding: 2px;
    box-sizing: border-box;
    background: #2BE080;

    &:focus-visible {
      outline: 2px solid #2BE080;
    }

    &_marked {
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        cursor: pointer;
        transition: opacity .4s linear;
        border-radius: 50%;
        background: #fff;
        position: relative;
        left: 16px;
        display: block;
      }

      &:hover::before {
        opacity: .8;
      }
    }

    &_not-marked {
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #f5f5f5;
        position: relative;
        left: 0px;
        display: block;
        transition: opacity .4s linear;
      }

      &:hover::before {
        opacity: .8;
      }
    }
  }

  &__radio-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    border-left: 1px solid #e8e8e8;;
  }

  &__button-subtitle {
    margin-block: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
  }

}