.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  height: 74px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &__container {
    display: none;
    @media (min-width: 1280px) {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &__link-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 0 20px;
  }
}

.header-type-landing {
  background: #465dff;
}
