.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  height: 74px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &__link-container {
    display: flex;
  }
}

.header-type-landing {
  background: #465dff;
}