.account-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-image: url(../../images/account-link-icon.svg);
  background-repeat: no-repeat;
  background-position: right;
  transition: opacity 0.3s linear;

  &:hover {
    transition: opacity 0.3s linear;
    opacity: 0.8s;
  }

  &_active {
    font-weight: 400;
  }
}
