.account-link {
  display: flex;
  justify-content: center;
  &__text {
    display: inline;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    transition: opacity 0.3s linear;
  }

  &:hover {
    transition: opacity 0.3s linear;
    opacity: 0.8;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100px;
    height: 32px;
    background-color: #f9f9f9;
  }
}
