@import url(./vendor/normalize.css);
@import url(./vendor/InterWeb/inter.css);

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
