.about-me {
  padding: 70px 14px;
  

  @media (min-width: 768px) {
    padding: 110px 70px 0;
  }

  &__wrapper {
    text-align: left;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) {
      max-width: 768px;
    }
    @media (min-width: 1280px) {
      max-width: 1280px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__container-text {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #000;
    margin-block: 0;
    margin-bottom: 18px;
    letter-spacing: -0.04em;
    padding-top: 40px;
    @media (min-width: 768px) {
      font-size: 50px;
      line-height: 58px;
    }
  }

  &__description-title {
    font-weight: 500;
    margin-block: 0;
    margin-bottom: 26px;
    font-size: 11px;
    line-height: 16px;
    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-block: 0;
    margin-bottom: 99px;

    @media (min-width: 768px) {
      display: inline-block;
      max-width: 600px;
    }
  }

  &__photo {
    width: 292px;
    border-radius: 10px;
    @media (min-width: 768px) {
      width: 270px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 0.3s linear;
    color: #000;

    &:hover {
      opacity: 0.6;
    }
  }
}
